@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Gilda Display", sans-serif;
}

h1 {
    font-size: 12.8rem;
}

h2,
h3 {
    font-size: 3.2rem;
}
